

    {{!-- <table class="table table-responsive table-hover">
      <tr>
        <th class="text-center">wow</th>
        <th class="text-center">wow</th>
        <th class="text-center">wow</th>
        <th class="text-center">wow</th>
        <th class="text-center">wow</th>
        <th class="text-center">wow</th>
      </tr>
    {{#each parkingSpots}}

    <tr class="text-center">
    <td><a href="/parkspot/{{this._id}}"><img src="{{this.imgPath}}" alt="" class="img-park"></td></a>
    <td><a href="/parkspot/{{this._id}}">{{this.spotName}}</td></a>
    <td><a href="/parkspot/{{this._id}}">{{this.spotLocation}}</td></a>
    <td><a href="/locationinfo/{{this.apiID}}"></td></a>
    <td><a href="/parkspot/edit/{{this._id}}">edit</td></a>
    <td><a href="/parkspot/delete/{{this._id}}">delete</td></a>
     </tr>
    {{/each}}
   </table> --}}

<div class="container">
  <h1><bold>{{user.username}}'s Spots</bold></h1>
  <div class="row">
    {{#each parkingSpots}}
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img class="imgcard" class="imgcard"src="{{this.imgPath}}">
        </div>
        <div class="card-content">
          <span class="card-title blue-text text-darken-2"><a href="/parkspot/{{this._id}}">{{this.spotName}}</a></span>
          <p>{{this.spotLocation}}</p>
          <p>{{this.spotDesc}}</p>
        </div>
        <div class="card-action">
          <a href="/parkspot/edit/{{this._id}}">Edit</a>
          <form action="/parkspots/delete/{{this._id}}" method="POST">
            <button type="submit" id="linkbtn">Delete</button>
          {{!-- <a href="/parkspot/delete/{{this._id}}">Delete</a> --}}
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
