<div class="container">  
  <form id="add-spot" action="/parkspot/edit/{{parkingSpots._id}}" method="post" enctype="multipart/form-data">
    <h3>Edit {{parkingSpots.spotName}}'s' Information</h3>
    <h4>Edit what youd like!</h4>

      <input name="spotName" placeholder="Name your spot!" type="text" tabindex="1" value="{{parkingSpots.spotName}}">
      <br><br>

      <input name="spotLoc" placeholder="Give the address!" type="text" tabindex="2"value="{{parkingSpots.spotLocation}}">
      <br><br>

      {{!-- <input name="spot-pay" placeholder="How can you pay?" type="text" tabindex="3"> --}}
      <label for="spotPay">How can you pay?:</label>
      <select name="spotPay">
        <option value="{{parkingSpots.spotPay}}">{{parkingSpots.spotPay}}</option>
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
        <option value="Both">Both</option>
      </select>
      <br><br>
      <textarea name="spotDesc" placeholder="Type a description of your spot!" tabindex="4">{{parkingSpots.spotName}}</textarea>
      <br><br>
      <fieldset>
      <span> ------------------------------ </span>
      <br><br>
      <label for="photo">Add a photo of the spot!</label>
      <br><br>
      <input type="file" name="photo" value="{{parkingSpots.imgPath}}">
      <br><br>
      {{#if parkingSpots.imgPath}}
      <img src="{{parkingSpots.imgPath}}" alt="">
      {{/if}}
      <br><br>
      <button type="submit" class="spot-submit">Add Spot</button>
      </fieldset>
  </form>
 
  
</div>