<h1>name:{{parkingSpots.spotName}}</h1>
<h3>loc:{{parkingSpots.spotLocation}}</h3>
<h3>paytype:{{parkingSpots.spotPay}}</h3>
<h3>desc:{{parkingSpots.spotDesc}}</h3>
<img src="{{parkingSpots.imgPath}}" alt="">
<a href="/edit/{{parkingSpots.id}}"></a>