<h1>here i show single location, and some more information</h1>


<h2>{{locationInfo.name}}'s spots</h2>
<h3>{{locationInfo.city.name}}</h3>
<h3>{{locationInfo.state.name}}</h3>
<h3>{{locationInfo.postalcode}}</h3>
<h3>{{locationInfo.address.line1}}</h3>
<h3>{{locationInfo.country.name}}</h3>
<br><br>
<p>{{locationInfo.parkingInfo}}</p>